@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

h1.title {
    font-size: 25pt;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%), 0 -0.25px 0 #333, 0 0.4px 0.8px rgb(0 0 0 / 40%), 0 0.7px 1px rgb(0 0 0 / 15%), 0 0.75px 0.75px rgb(0 0 0 / 18%);
    color: rgb(15, 20, 25);
}

h2 {
    font-weight: 800;
    font-size: 18pt;
    text-transform: uppercase;
    color: #263240;
    letter-spacing: 1px;
    text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
    font-family: 'Roboto', sans-serif;
    margin-top: -46pt !important;
    
}

h3 {
  font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #60667b;
    text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
    margin-top: -40pt !important;
}

h4 {
  font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    opacity: 0.5;
    color: #60667b;
    text-shadow: 0.15px 0.15px 0.001px hsl(0deg 0% 7% / 99%), -0.25px -0.25px 0.2px hsl(220deg 20% 85% / 75%), 0.25px 0.25px 0.25px hsl(0deg 0% 0%), -0.2px -0.2px 0.1px hsl(0deg 0% 10% / 65%), -0.5px -0.5px 0.2px hsl(0deg 0% 90% / 95%), 0.5px 0.5px 0.5px hsl(0deg 0% 70% / 95%);
}

h3.subtitle {
    font-weight: 500;
    font-size: 18pt;
    margin-bottom: -3pt !important;
    margin-top: -8px !important;
    text-transform: none !important;
    color: #60667b;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
}

h4.author {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    margin-bottom: -3pt;
    margin-top: 6pt;
    text-transform: none !important;
    opacity: 0.5;
    color: #60667b;
    text-shadow: 0.4px 0.4px 0.4px hsl(0deg 0% 0%);
}

h4.date {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20pt;
    font-size: 13pt;
    text-transform: none !important;
    opacity: 0.5;
    color: #60667b;
    text-shadow: 0.4px 0.4px 0.4px hsl(0deg 0% 0%);
}

/* ---- body ---- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11.25pt;
    line-height: 1.4;
    color: #333;
}


b, strong {
      font-size: 10.25pt;
    font-weight: 600;
    color: hsl(213deg 50% 34%);
    font-family: 'Roboto';
    text-shadow: 0.25px 0.25px 0.2px hsl(0deg 0% 10%), 0.275px 0.275px 0.025px hsl(0deg 0% 10%), -0.2px -0.2px 0px hsl(0deg 0% 85%);
    letter-spacing: 0.25px;
}

a {
    color: rgb(29, 155, 240);
}

hr {
    border-top: 1px solid rgb(239, 243, 244);
}

.myhighlight {
  font-family: 'Roboto';
    border-radius: 5px;
    text-shadow: 0 1px 1px hsl(0deg 0% 10% / 65%), 0.04em 0.04em 0px hsl(0deg 0% 45% / 50%), -0.25px -0.25px 0.05px hsl(217deg 100% 95% / 85%), 0.25px 0.25px 0.25px hsl(0deg 0% 100% / 95%), 0.35px 0.35px 0.2px hsl(0deg 0% 90% / 85%), 0 -1px 0px hsl(0deg 0% 95% / 25%), 0 1px 0.125px hsl(0deg 0% 5% / 85%);
    color: #f5f5f5;
    font-size: 9pt;
    letter-spacing: 0.5px;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0.875px 0.875px 1.8px 0 rgb(0 0 0 / 30%), -0.75px -0.75px 1.5px 0 hsl(216deg 16% 94%), inset -0.5px -0.5px 1px 0 rgb(0 0 0 / 30%), inset 0.5px 0.5px 1px 0 hsl(220deg 23% 95%);
    padding: 2.5pt 3.85pt;
    font-weight: 300;
    text-shadow: 0px 0px 1px hsl(0deg 0% 30% / 35%), 0.034em 0.034em 1px hsl(0deg 0% 75% / 50%), 0.0125px -0.125px 0px hsl(0deg 0% 100% / 85%), 0.025px 0.425px 0px hsl(0deg 0% 100% / 95%), 0.25px 0.6px 0px hsl(0deg 0% 100% / 85%), 0px -0.88px 0.0125px hsl(0deg 0% 100% / 20%), 0px 1px 0.5px hsl(0deg 0% 5% / 85%), 0.7px 1.2px 0.35px hsl(0deg 0% 5% / 85%) !important;
}

.myhighlight2 {
    border-radius: 5px;
    font-size: 9pt;
    letter-spacing: 0.5px;
    background: #333;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%), inset 1px 1px 1px rgb(255 255 255 / 60%), inset -1px -1px 1px rgb(12 13 18 / 6%), -1px -1px 1px 0px rgb(255 255 255 / 60%), -1px -1px 4px 0px rgb(255 255 255 / 60%), -2px -2px 8px 0px rgb(255 255 255 / 60%), 1px 1px 1px 0px rgb(12 13 18 / 6%), 1px 1px 4px 0px rgb(12 13 18 / 6%), 2px 2px 8px 0px rgb(12 13 18 / 6%);
    background-color: hsl(228deg 14% 93%);
    text-shadow: 0.25px 0.25px 0.25px hsl(233deg 5% 26% / 85%), 0.35px 0.35px 0.35px hsl(233deg 5% 26% / 85%), 0 -1.1px 0px rgb(12 13 18 / 8%), 0 1.2px 0 rgb(255 255 255);
    color: hsl(233deg 5% 26%);
    padding: 4pt 6pt;
    font-weight: 300;
    font-family: 'Roboto';
    line-height: 30pt;
}

.myhighlight3 {
    background-image: linear-gradient(0deg, hsl(228deg 14% 89%), #fff);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 60%), inset 0 -1px 0 rgb(0 0 0 / 30%), inset 0 0 0px 1px rgb(0 0 0 / 10%), 0 0 1px rgb(0 0 0 / 50%), 0 2px 2px rgb(0 0 0 / 40%) !important;
    border: 1.5px solid #e4e5ea;
    border-radius: 5px;
    background: #333;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%), inset 1px 1px 1px rgb(255 255 255 / 60%), inset -1px -1px 1px rgb(12 13 18 / 6%), -1px -1px 1px 0px rgb(255 255 255 / 60%), -1px -1px 4px 0px rgb(255 255 255 / 60%), -2px -2px 8px 0px rgb(255 255 255 / 60%), 1px 1px 1px 0px rgb(12 13 18 / 6%), 1px 1px 4px 0px rgb(12 13 18 / 6%), 2px 2px 8px 0px rgb(12 13 18 / 6%);
    background-color: hsl(228deg 14% 93%);
    text-shadow: 0.25px 0.25px 0.25px hsl(233deg 5% 26% / 85%), 0.35px 0.35px 0.35px hsl(233deg 5% 26% / 85%), 0 -1.1px 0px rgb(12 13 18 / 8%), 0 1.2px 0 rgb(255 255 255);
    padding: 4pt 5pt;
    font-weight: 300;
    line-height: 25pt;
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #60667b;
}

/* ---- toc ---- */

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    border-color: #337ab7;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 1px 3.75px 0 rgb(65 132 234 / 65%);
    text-shadow: 0.6px 0.6px 0 hsl(227deg 12% 5% / 50%);
    color: #f5f5f5;
    font-weight: 500;
}

#TOC {
    margin: 25px 0 20px;
    font-family: 'Roboto';
    font-size: 14px !important;
    letter-spacing: 0.5px;
    color: #61677c;
    text-shadow: 1px 1px 0 #ffffff;
    border: none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.tocify {
    background-size: cover;
    /*background-image: url('http://twitter-v3-2.surge.sh/assets/cover.jpg');*/
    background: #ebecf0;
}

.tocify .list-group-item code {
    background: none !important;
    box-shadow: none;
}

.tocify ul,
.tocify li {
    background: hsl(220deg 23% 97%);
    background: linear-gradient(137.43deg, rgba(255, 255, 255, 0.5) 3.89%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(0.8px);
}

/* ---- navbar ---- */

a.navbar-brand {
    font-family: 'Roboto';
    letter-spacing: 0.75px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10.5pt;
}

.navbar-default {
    background-color: rgb(247, 249, 249);
    border-color: #e7e7e7;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

/* ---- tables ---- */

.table {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.table strong {
    font-size: inherit;
    font-weight: 400;
    color: #60667b;
    font-family: roboto condensed !important;
    background: none;
    box-shadow: none;
    padding: 0;
    font-size: 9.5px;
    text-shadow: 0.25px 0.25px 0.2px hsl(0deg 0% 10%), 0.275px 0.275px 0.025px hsl(0deg 0% 10%), -0.2px -0.2px 0px hsl(0deg 0% 85%);
}

.table span.citation {
    color: transparent;
    margin: -3.5px;
}

.table strong::before {
    content: "@";
    color: hsl(204deg 87% 53%);
    font-weight: 500;
    font-family: 'Roboto';
    vertical-align: text-bottom;
}


img {
  padding-bottom: 12pt !important;
  padding-top: 12pt !important;
}

/* ---- pre code ---- */

pre {
    background: linear-gradient(175deg, rgba(2, 0, 36, 0) 23%, rgba(153, 153, 153, 0.3) 100%);
    border: none;
    box-shadow: 0 2px 2px #888;
    background: #22242b;
    background: #2d2d2d;
    padding: 10pt;
    margin-bottom: 14pt;


}

pre code {
    font-family: 'Inconsolata', monospace;
    /*font-family: Consolas;*/
    font-size: 9.75pt !important;
    color: hsl(201deg 30% 96%);
    box-shadow: none !important;
    text-shadow: 0.6px 0.6px 0 #000000;
    text-shadow: 0 1px rgb(0 0 0 / 30%);
    letter-spacing: normal !important;
    font-weight: normal !important;
}

code {
    padding: 3px 4px;
    background-color: #ebecf0;
    border-radius: 6px;
    text-shadow: 0.6px 0.6px 0 #fff;
    color: #61677c;
    font-family: 'Roboto';
    font-size: 11.25px;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 1.125px 1.125px 2.125px #babecc, -1px -1px 2.5px hsl(0deg 0% 98%);
}

/* ---- datasource2 style ---- */

.datasource2 {
    margin: 15px 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    color: #61677c;
    border-radius: 13px;
    background: hsl(220deg 14% 95%);
    padding: 5pt 10pt;
}



.datasource2 ul {
    padding-left: 22pt;
}

.datasource2 strong {
    padding: 2.5px 4px;
    background-color: #ebecf0;
    border-radius: 5px;
    text-shadow: 0.6px 0.6px 0 hsl(227deg 12% 5% / 50%);
    color: #f5f5f5;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0.875px 0.875px 1.8px 0 rgb(0 0 0 / 30%), -0.875px -0.875px 1.8px 0 rgb(255 255 255), inset -0.5px -0.5px 1px 0 rgb(0 0 0 / 30%), inset 0.5px 0.5px 1px 0 rgb(255 255 255);
}

.datasource2 code {
    padding: 3px 4px;
    background-color: #ebecf0;
    border-radius: 6px;
    text-shadow: 0.6px 0.6px 0 #fff;
    color: #61677c;
    font-family: 'Roboto';
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 1.5px 1.5px 2.5px #babecc, -2px -2px 5px #fff;
}

.datasource2 li::marker {
    content: none !important;
}

.datasource2 ol li {
    font-size: 12pt !important;
}

.datasource2 ol li::before {
  content: counter(cupcake);
    display: inline-flex;
    width: 20pt;
    height: 20pt;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ebecf0;
    font-family: 'Roboto';
    font-size: 12pt;
    font-weight: 600;
    color: hsl(214deg 100% 55%);
    box-shadow: 0.875px 0.875px 1.8px 0 rgb(0 0 0 / 30%), -0.875px -0.875px 1.8px 0 rgb(255 255 255), inset -0.5px -0.5px 1px 0 rgb(0 0 0 / 30%), inset 0.5px 0.5px 1px 0 rgb(255 255 255);
    margin: 0 4pt -1.5pt -22.5pt;
    vertical-align: bottom;
    text-shadow: 0.25px 0.25px 0.25px hsl(0deg 0% 10% / 35%), 0.2px 0.2px 0.2px hsl(227deg 12% 40%), -0.45px -0.45px 0.25px hsl(0deg 0% 100%), 0.15px -0.15px 0.15px hsl(0deg 0% 100%), 0.25px -0.15px 0.05px hsl(220deg 85% 60%), 0.35px 0.35px 0.35px hsl(227deg 12% 80%);
}

.datasource2 ul li::before,
.datasource2 ul ul li::before,
.datasource2 ol ul li::before {
    content: '';
    display: inline-flex;
    width: 7pt;
    height: 7pt;
    border-radius: 18px;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 15%);
    font-weight: 500;
    background: linear-gradient(to top, #4292ff, #388cff, #2e86ff, #2380ff, #177aff);
    vertical-align: middle;
    margin: 0px 4pt 2pt -12pt;
    box-shadow: 0.875px 0.875px 1.8px 0 rgb(0 0 0 / 30%), -0.875px -0.875px 1.8px 0 rgb(255 255 255), inset -0.5px -0.5px 1px 0 rgb(0 0 0 / 30%), inset 0.5px 0.5px 1px 0 rgb(255 255 255);
}

.datasource2 ol ul li {
    margin-left: -15pt;
}

.datasource2 li {
    color: #61677c;
    counter-increment: cupcake;
    font-size: 12pt;
    text-shadow: 0.2px 0.2px 0.2px hsl(227deg 12% 40%);
    font-weight: 300;
    margin: 5pt 2pt;
    margin-left: -6pt;
}

.datasource2 ul li {
    margin-bottom: 4pt !important;
}

.datasource2 p {
    font-size: 10pt;
    text-shadow: 0.2px 0.2px 0.2px hsl(227deg 12% 40%);
    font-weight: 300;
    color: #61677c;
    margin-bottom: 5pt;
    margin-top: 5pt;
}

/* ---- datasource 22 style ---- */


.datasource22 li {
    color: #61677c;
    text-shadow: 0.2px 0.2px 0.2px hsl(227deg 12% 40%);
    font-weight: 300;
        margin: 0pt -4pt;
    font-size: 16px;
}

/* ---- roundedlist style ---- */

.roundedlist {
    box-shadow: inset -2.5px 2.5px 1px 0 rgb(0 0 0 / 40%), inset 3px -3px 2px 0 rgb(20 22 28 / 10%), -1px 1px 3px 0 rgb(63 69 87 / 50%);
    background-color: hsl(225deg 12% 15%);
    border-radius: 10px;
    padding: 12pt;
    margin: 12pt 0pt;
}

.roundedlist li::marker {
    content: none !important;
}

.roundedlist li {
    counter-increment: cupcake;
    margin-left: -2pt;
    line-height: 17pt;
    margin-bottom: 10pt;
    margin-top: 2pt;
    color: #adadad;
    font-size: 16px;
    text-shadow: 0.5px 0.5px 1px black;
}

/*.roundedlist ol li::before {
    content: counter(cupcake);
    display: inline-flex;
    width: 20pt;
    height: 20pt;
    border-radius: 20px;
    align-items: center;
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 14px;
    justify-content: center;
    margin-left: -24pt;
    margin-right: 4.5pt;
    color: hsl(204deg 90% 56%);
    vertical-align: bottom;
    margin-bottom: -2px;
    text-shadow: 0 0 2.5px #000000, 1px 1px 1px rgb(0 0 0);
    box-shadow: 0.875px 0.875px 1.8px 0 hsl(0deg 0% 0% / 30%), inset -0.875px -0.875px 1.8px 0 hsl(0deg 0% 0%), inset -0.5px -0.5px 1px 0 hsl(227deg 12% 38%), inset 0.5px 0.5px 1px 0 hsl(227deg 12% 45%);
    background: #252528;
}*/

.roundedlist ol li::before {
    content: counter(cupcake);
    display: inline-flex;
    width: 14pt;
    height: 14pt;
    border-radius: 20px;
    align-items: center;
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 14px;
    justify-content: center;
    margin-left: -22pt;
    margin-right: 4.5pt;
    color: hsl(204deg 90% 56%);
    vertical-align: bottom;
    margin-top: 3px;
    text-shadow: 0 0 2.5px #000000, 1px 1px 1px rgb(0 0 0);
    box-shadow: 0.875px 0.875px 1.8px 0 hsl(0deg 0% 0% / 30%), inset -0.875px -0.875px 1.8px 0 hsl(0deg 0% 0%), inset -0.5px -0.5px 1px 0 hsl(227deg 12% 38%), inset 0.5px 0.5px 1px 0 hsl(227deg 12% 45%);
    background: #252528;
    z-index: 1 !important;
    position: absolute;
    /* box-shadow: 0.5px 0.5px 1px 0.5px hsl(0deg 0% 5%); */
}

.roundedlist ol li::after {
    display: inline-flex;
    content: "";
    width: 20pt;
    height: 20pt;
    border-radius: 50px;
    align-items: center;
    margin-left: -34.25pt !important;
    margin-right: 4.5pt;
    color: hsl(204deg 90% 56%);
    vertical-align: bottom;
    margin-bottom: -3px;
    margin-top: -2px;
    text-shadow: 0 0 2.5px #000000, 1px 1px 1px rgb(0 0 0);
    box-shadow: inset 0.5px 0.5px 0.5px 0.05px #0c0c0c, 0px 0px 1.5px 1.5px #0c0c0c;
    background: conic-gradient(#0260C4, #0069D8, #006EF2, #006BEC, #0055A8, #00408A, #004287, #0059BA, #0058B9, #0162CB, #007AF7, #0065D2, #0358B3, #0051A6, #004C98, #0759BC, #0260C4);
    z-index: -1 !important;
    position: unset;
}




.roundedlist code {
    box-shadow: -2px -2px 5px #212121, 2px 2px 5px #141414;
    padding: 4px 6px;
    color: #8698a9;
    background: hsl(227deg 4% 15%);
    font-family: roboto condensed;
    font-weight: 400;
    font-size: 13px;
    text-shadow: 1px 1px 1px black;
}

/* ---- blockquote style ---- */

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    color: #454545;
    border-radius: 0.5em;
    border: 0.5px solid #eee;
    box-shadow: 0 1px 0 #ccc;
    background: linear-gradient(to bottom, #fefefe 0%, #eee 100%);
    font-size: 12pt;
    /*border: 1px solid rgb(0 0 0 / 8%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    background-image: linear-gradient( to bottom, rgba(0,0,0,0), rgba(0,0,0,0.04) );
    background-color: #fbfbfb;*/
}


pre.python::before {
    content: "python";
    font-size: 7.5pt;
    background: rgba(224,224,224,.2);
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%);
    justify-content: center;
    color: #ccc;
    position: relative;
    top: -10px;
    float: right;
    display: flex;
    overflow: hidden;
    width: 38px;
    margin: 0pt -6pt;
    padding: 0.5px 2pt 0.5px 2pt;
    border-radius: 4pt;
    font-weight: 300;
    font-family: rubik;
}

pre.sql::before {
    content: "sql";
    font-size: 7.5pt;
    background: rgba(224,224,224,.2);
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%);
    justify-content: center;
    color: #ccc;
    position: relative;
    top: -10px;
    float: right;
    display: flex;
    overflow: hidden;
    width: 24px;
    margin: 0pt -6pt;
    padding: 0.5px 2pt 0.5px 2pt;
    border-radius: 4pt;
    font-weight: 300;
    font-family: rubik;
}

pre.r::before {
    content: "r";
    font-size: 7.5pt;
    background: rgba(224,224,224,.2);
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%);
    justify-content: center;
    color: #ccc;
    position: relative;
    top: -10px;
    float: right;
    display: flex;
    overflow: hidden;
    width: 18px;
    margin: 0pt -6pt;
    padding: 0.5px 2pt 0.5px 2pt;
    border-radius: 4pt;
    font-weight: 300;
    font-family: rubik;
}

.hljs-built_in, .hljs-models {
    font-weight: 500;
    color: #03648a;
    color: hsl(197deg 100% 37% / 95%) !important;
}

.hljs-keyword {
    color: hsl(183deg 100% 50%) !important;
    font-weight: 700;
}

.hljs-comment {
    color: hsl(0deg 0% 60%);
    font-style: normal !important;
    font-weight: 300;
}

.hljs-string {
    color: #219fd5;
    color: hsl(219deg 45% 62%) !important;
    font-weight: 400;
}


.hljs-keyname {
    color: #CDBBFF !important;
    font-weight: 600 !important;
}

.hljs-envfunc {
    color: hsl(213deg 100% 70%) !important;
    font-weight: 600 !important;
}

span.hljs-renvfunc {
    color: hsl(219deg 92% 64%);
    color: hsl(215deg 100% 64%) !important;
    font-weight: 600;
}

span.hljs-rkeyname {
    font-weight: 600;
    color: hsl(183deg 100% 50%);
}

span.hljs-rdata {
    color: darkseagreen;
    color: lightgreen;
    color: magenta;
    color: violet;
    color: turquoise;
    /* color: mediumspringgreen; */
}

span.hljs-rkeyword {
      color: hsl(112deg 65% 75%) !important;
    font-weight: 300 !important;
}

span.hljs-rkeyword {
    color: hsl(278deg 100% 70%) !important;
    font-weight: 400 !important;
}

.hljs-literal {
    color: lightgreen;
    color: hsl(270deg 100% 70%);

}

.hljs-number {
    font-weight: 500;
    color: hsl(112deg 65% 75%) !important;
}

.hljs-keyfunc {
    color: hsl(248deg 91% 75%) !important;
    font-weight: 400;
}



/* ---- profile card ---- */

.card {
    background: gray;
    /*padding: 12pt;*/
    border-radius: 14pt;
    max-width: 340pt;
    z-index: -3 !important;
    position: relative;
        background-color: #2d2d2d;
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=424a4dff&noise=000000&density=40&opacity=15);
    box-shadow: 0 0px 2px rgb(0 0 0 / 40%), inset 0 0px 1px rgb(0 0 0 / 30%), 0 1px 2px rgb(0 0 0 / 60%), 0 4px 2px rgb(0 0 0 / 20%), 0 9px 4px rgb(0 0 0 / 10%), inset 0 2px 1px rgb(255 255 255 / 30%);
    margin-bottom: 12pt;
    margin-top: 12pt;
    float: right;
}


.title {
    background-image: url(https://img.freepik.com/fotos-premium/hoja-plata-hoja-brillante_38679-230.jpg?w=2000) !important;
    background-position: 0% 25%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14pt;
    font-family: 'Lato';
    font-weight: 800;
    background-size: 65% !important;
    filter: drop-shadow(1.25px 1.25px 0.5px black);

}

.cover {
    height: 130pt;
}

.user-image {
    border-radius: 50%;
    width: 102px !important;
    height: 102px !important;
    background: linear-gradient(90deg, #1d4ed8, #1e40af, #111827);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    transform: translateY(-70%);
    margin-left: 6pt;

}


.user-image img {
  border-radius: 50%;
    width: 90px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    height: 90px !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    margin-top: 4pt;
    margin-left: 4pt;
}

.user-banner {
    overflow: hidden;
    position: relative;
    border-radius: 14pt 14pt 0 0;
    width: 100%;
    height: 150px !important;
    background-size: cover;
    background-image: url("C:/Users/Hannah Luebbering/OneDrive/Documents/GitHub/twitter-api/assets/banner_image.svg");
}


.info {
    padding: 7pt 14pt 7pt 14pt;
}

.username,
.description,
.created {
    color: #aaaaaa;
    font-family: 'Lato';
    font-size: 11pt;
    font-weight: 300;
}


td.mystyle {
    width: 25% !important;
    padding: 20pt 2pt 12pt 2pt;
    text-align: center;
    font-size: 10pt;
    color: hsl(0deg 0% 100% / 80%);
    font-family: 'Lato';
}

td.mystyle::before {
  content: "";
    display: flex;
    width: 44pt;
    height: 30pt;
    border-radius: 10pt !important;
    margin-left: 28pt !important;
    margin-top: -8pt !important;
    text-shadow: 0 0 2.5px #000000, 1px 1px 1px rgb(0 0 0);
    box-shadow: 0.875px 0.875px 1.8px 0 hsl(0deg 0% 0% / 30%), inset -0.875px -0.875px 1.8px 0 hsl(0deg 0% 0%), inset -0.5px -0.5px 1px 0 hsl(227deg 12% 38%), inset 0.5px 0.5px 1px 0 hsl(227deg 12% 45%);
    background: #252528;
    z-index: -1 !important;
    position: absolute;
}

td.mystyle::after {
  content: "";
    display: flex;
    width: 56pt;
    height: 42pt;
    border-radius: 16pt !important;
    margin-left: 22pt !important;
    margin-top: -28pt !important;
    box-shadow: 0.875px 0.875px 1.8px 0 rgb(0 0 0 / 30%), -0.75px -0.75px 1.5px 0 hsl(216deg 16% 10%), inset -0.5px -0.5px 1px 0 rgb(0 0 0 / 30%), inset 0.5px 0.5px 1px 0 hsl(220deg 23% 95%);
    background: conic-gradient(#0260C4, #0069D8, #006EF2, #006BEC, #0055A8, #00408A, #004287, #0059BA, #0058B9, #0162CB, #007AF7, #0065D2, #0358B3, #0051A6, #004C98, #0759BC, #0260C4);
    z-index: -2 !important;
    position: absolute;
}


td.mystyle2 {
  padding: 6pt;
  text-align: center;
  font-size: 9pt; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  font-family: 'Lato' !important;
  color: #eee;
}





